button {
    position: relative;
    width: 200px; /* Largeur du bouton, ajustez comme nécessaire */
    height: 50px; /* Hauteur du bouton */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #76D7C4;
    transition: width 0.1s linear; /* Transition douce */
}
